.lesson {
    width: 200px;
    height: 100px;
  }
  
.section-blue {
  background-color: blue;
  color: orange;
  width:100%;
  height:200px;
}
  
.container {
  background-color: black;

}

#section-1 {
    background-color: blueviolet;
    color: yellow;
    width:100%;
    height:200px;
}

#section-6 {

}





