section {
  width: 95%;
  height: 600px;
  text-align: center;
  border: 15px solid black;
  margin:auto;
}

img {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  padding: 20PX;
  margin:30px;
  border: 30px dashed magenta;
  display:inline;
}
